<div role="main" class="container topstories" id="content">

  <div class="row" id='review-feed'>
    <div class="span12">
      <h2>The Buzz</h2>
    </div>
    <div class='span12'>
      <hr />
      <h3>Your Budz:</h3>
    </div>
    <div id='friend-feed' >
      <%= render partial: "reviews/review", collection: @friend_reviews %>
    </div>
    <div class='span12'>
      <hr />
      <h3>Your Public Feed:</h3>
    </div>
    <div id='public-feed'>
      <%= render @reviews %>
    </div>
    <div class='span12'>
      <hr />
    </div>
  </div>

  <br />

  <div class="row">
    <%= render "reviews/find_store" %>

    <div class="span5 well" id="review-store-form">
      <%= render "reviews/new" %>
    </div>

  </div>

  <br />
  <%= render "search/search" %>

</div>
