<div role="main" class="container topstories" id="content">

  <div class="row" id='review-feed'>
    <div class="span12">
      <h2>The Buzz</h2>
    </div>
    
    <div id='friend-feed'>
      <h4>Your Budz:</h4>
      <%= render partial: "reviews/review", collection: @friend_reviews %>
    </div>

    <legend></legend>

    <div id='public-feed'>
      <h4>Your Public Feed:</h4>
      <%= render @reviews %>
    </div>
    <legend></legend>
  </div>
  
  <br />

  <div class="row">
    <%= render "reviews/find_store" %>

    <div class="span5 well" id="review-store-form">
      <%= render "reviews/new" %>
    </div>

  </div>

  <br />
  <%= render "search/search" %>

</div>
