<h3><%= store.name %></h3>
<br />
<table>
  <tbody>
    <tr>
      <td>Address: </td>
      <td id="store-address"><%= store.address %>
      <%= store.city %>
      <%= store.state %>
      <%= store.zipcode %></td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
      <td>Hours: </td>
      <td id="store-hours"><%= store.hours %></td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
      <td>Website: </td>
      <td id="store-website"> <%= store.website %></td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr>
      <td>Phone Number: </td>
      <td id="store-phone-number"><%= store.phone_number %></td>
    </tr>
  </tbody>
</table>
