<div class="span4" >
  <div class="story" >  
    <a href="#" class="name" id='user-modal-button' data-toggle="modal" data-target='#userShowModal'><%= @user.name %></a>
  </div>
</div>


  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="userShowModal" tabindex="-1" role="dialog" aria-labelledby="userShowModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="userShowModalLabel"><%= @user.name %></h3>
        </div>
        <div class= "profile-image">
          <%= image_tag current_user.avatar, :height => '100', :width => '100' %>
        </div>
        <div class="modal-body">
          <div id="user-info"> 
            <p>Account created: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
            <p>Thumbs Up Reviews: <%= @thumbs_up_review_count %></p>
            <p>Thumbs Down Reviews: <%= @thumbs_down_review_count %></p>

          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
