<div class="container">
  <div class = "row">
    <div class="span7"  >
      <h2><%= current_user.name %>'s Profile</h2></br>
      <div class= "profile-image">
        <%= image_tag @large_avatar, :height => '150', :width => '150'  %>
      </div>
      <div>
        <div id="user-info" class='span3'> 
          <h5><strong>My buzz started on: </strong><%= current_user.created_at.strftime("%m/%d/%Y") %></h5>
          <h5><strong>Friends on Mile High: </strong><%= @friend_count %></h5>
        </div>
        <div id='user-review-counts' class='span2'>
          <h5>Total Reviews</h5>
          <%= image_tag('Thumbs-Up.png', size: "36x36") %>
          <%= image_tag('ThumbsDown.png', size: "36x36") %></br>
          <div class="number">
            <%= @thumbs_up_review_count %>
          </div>
          <div class="number">
            <%= @thumbs_down_review_count %>
          </div>
        </div></br>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="span12" id="read-reviews">
      <h3>My Reviews</h3>
    </div>
    <div id="read-reviews">
      <%= render partial: 'reviews/review', collection: @reviews %>
    </div>
  </div>

</div>
