<div class="span4" >
  <div class="story" >  
    <a href="#" class="name" ><%= current_user.name %></a>
    <div class= "profile-image">
      <%= image_tag current_user.avatar, :height => '100', :width => '100' %>
    </div>
    <div id="user-info"> 
      <p>Account created: <%= current_user.created_at.strftime("%m/%d/%Y") %></p>
      <p>Thumbs Up Reviews: <%= @thumbs_up_review_count %></p>
      <p>Thumbs Down Reviews: <%= @thumbs_down_review_count %></p>
    </div>
  </div>
</div>

