<h3>Review <%= @store.name %></h3>
<%= form_for @store.reviews.new do |f| %>

  <%= f.hidden_field :store_name, :value => @store.name %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "Your Thoughts: (140 Characters Maximum)" %>
    <%= f.text_area :body %>
  </p>

  <%= f.submit 'Thumbs Up', class:"btn btn-success", id: 'thumbs-up' %>
  <%= f.submit 'Thumbs Down', class:"btn btn-danger", id: 'thumbs-down' %>

<% end %>
