
<div class="row" >
  <div class="span12 categories" >
    <h3>Review a store</h3>
    <%= form_for Review.new do |f| %>
      
      <p>
        <%= f.label :store %>
        <%= f.text_field :store_name %>
      </p>

      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :body %>
        <%= f.text_field :body, id: 'review-body-field' %>
      </p>

      <p>
        <%= f.submit 'Thumbs Up', id: 'thumbs-up' %>
      </p>

      <p>
        <%= f.submit 'Thumbs Down', id: 'thumbs-down' %>
      </p>

    <% end %>
  </div>
</div>
