<div class="span4" >

  <div class="story" id="review-<%= review.id %>">
    <h4><%= link_to review.store.name, store_path(review.store.slug) %></h4>
    <%= image_tag review.store_photo %>
    <div>
      <%= image_tag review.user.avatar, :class => 'avatar' %>
      <h4 class="review-title"><%= review.title %></h4>
    <% if review.rating == "Thumbs Up" %>
      <%= image_tag('aok.png', size: "67x67", class: 'icon') %>
    <% else %>
      <%= image_tag('thumbs-down.png', size: "60x60", class: 'icon') %>
    <% end %>
    </div>
    <p class='user-name'><%= review.user.name %></p>

    <p class='review-body'>
      <%= review.body %>
    </p>

    <hr>

    <div id='review-counts'>
      <% if review.store.mostly_positive? %>
        <%= image_tag('aok.png', size: "36x36") %><br/>
        <div>
          <%= review.store.percent_positive %>%
      <% else %>
        <%= image_tag('thumbs-down.png', size: "30x30") %>
        <%= review.store.percent_negative %>%
      <% end %>
      <p class="pull-right"><%= review.store.total_reviews %> Total Reviews</p></div>
    </div>
  </div>
</div>





