<div class="span4" >

  <div class="story" id="review-<%= review.id %>">
    <h4><%= review.store.name %></h4>

    <img src="http://www.placekitten.com/290/120" />
    <h5>Title: <%= review.title %></h5>
    <p>
      Rating: <%= review.rating %>
    </p>
    <p>
      Review: <%= review.body %>
    </p>

    <div id='pos-review-count'>
      <%= image_tag('aok.png', size: "36x36") %><%= review.store.positive_count %>
      <%= image_tag('thumbs-down.png', size: "30x30") %><%= review.store.negative_count %>
      <%= link_to 'Store Details', store_path(review.store.slug), class: "btn btn-success pull-right" %>
    </div>
  </div>
</div>





