<div class="span4" >
  <div class="story" id="review-<%= review.id %>" >
    <h4><%= review.store.name %></h4>
    <h4></h4>
    <div id='pos-review-count'>
      <h5>Thumbs Up: <%= review.store.positive_count %></h5>
    </div>  
    <div id='neg-review-count'>
      <h5>Thumbs Down: <%= review.store.negative_count %></h5>
    </div>  
    <img src="http://www.placekitten.com/290/120" />
    <h4><%= review.title %></h4>
    <p>
      <%= review.body %>
    </p>
    <p>
      <%= review.rating %>
    </p>
    <%= link_to 'Store Details', store_path(review.store.slug), class: "btn btn-inverse pull-left" %>
  </div>
</div>





