<% cache review do %>
  <div class="span4" >

    <div class="story" id="review-<%= review.id %>">
      <h3><%= link_to review.store.name, store_path(review.store.slug) %></h3>
      <%= image_tag review.store_photo %>
      <div>
        <%= image_tag review.user.avatar, :class => 'avatar' %>
        <h3 class="review-title"><%= review.title %></h3>
      <% if review.rating == "Thumbs Up" %>
        <%= image_tag('Thumbs-Up.png', size: "50x50", class: 'icon') %>
      <% else %>
        <%= image_tag('Thumbs-Down.png', size: "50x50", class: 'icon') %>
      <% end %>
      </div>
      <p class='user-name'><%= review.user.name %></p>

      <p class='review-body'>
        <%= review.body %>
      </p>

      <hr>

      <div id='review-counts'>
        <% if review.store.mostly_positive? %>
          <%= image_tag('Thumbs-Up.png', size: "36x36") %><br/>
          <div class="percent">
            <%= review.store.percent_positive %>%
        <% else %>
          <%= image_tag('Thumbs-Down.png', size: "30x30") %>
          <div class="percent">
            <%= review.store.percent_negative %>%
        <% end %>
        <p class="pull-right"><%= review.store.total_reviews %> Total Reviews</p></div>
      </div>
    </div>
<% end %>
