<% cache do @strain %>

  <div class="container">
    <div class="row well">
      <div id="strain-info" class="span11">
        <div class="strain-icon-container">
          <%= link_to image_tag("pot-icon-#{rand(4) + 1}.jpg", size: "70x60"), strain_show_path(@strain.key), class:'strain-icon' %>
        </div>
          <div class="strain-title">
            <h3><%= @strain.name %></h3>
            <p>Category: <%= @strain.category %><br/>
              Rating: <%= @strain.rating %>/10</p>
          </div>
          <br/>
          <br/>

          <table>
            <tbody>
              <tr>
                <td><strong>Description:   </strong></td>
                <td><%= @strain.description %></td>
              </tr>
              <tr>
                <td><strong>Overview:   </strong></td>
                <td> <%= @strain.overview %></td>
              </tr>
            </tbody>
          </table>
      </div>
      </br>
      <div class="strain-effects span10">
        <div class='list span3'>
          <table>
            <tbody>
                <tr><strong>Effects</strong></tr>
                <tr>
                <% unless @strain.effects.empty? %>
                  <td><% @strain.effects.each do |effect| %>
                    <span><%= effect["Name"] %></span>
                    <span> - <%= effect["Score"].to_s%></span></br>
                  <% end %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>

        <div class='list span3'>
          <table>
            <tbody>
                <tr><strong>Medical</strong></tr>
              <tr>
                <% unless @strain.medical_uses.empty? %>
                  <td><% @strain.medical_uses.each do |medical_use| %>
                    <span><%= medical_use["Name"] %></span>
                    <span> - <%= medical_use["Score"].to_s%></span></br>
                  <% end %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='list span3'>
          <table>
            <tbody>
              <% unless @strain.side_effects.empty? %>
                <tr><strong>Side Effects</strong></tr>
                <tr>
                  <td>
                    <% @strain.side_effects.each do |side_effect| %>
                      <span><%= side_effect["Name"] %></span>
                      <span> - <%= side_effect["Score"].to_s%></span></br>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div><br>
    </div>
    <hr>
    <% unless @stores.empty? %>
      <div id="strain-stores" class="span4">
        <h4>Find <%= @strain.name %> here:</h4>
        <% @stores.each do |store| %>
          <p><%= link_to store.name, store_path(store.slug) %><br/>
          <%= store.address %></p>
        <% end %>
      </div>
    <% end %>
    <div id='strain-map' class='light'></div>
  </div>
<% end %>
<%= javascript_include_tag "strain"%>


