<% cache do @strain %>

  <div class="container">
    <div class="row">
      <div id="strain-info" class="well span7">
        <div class="strain-icon-container">
          <%= link_to image_tag("pot-icon-#{rand(4) + 1}.jpg", size: "70x60"), strain_show_path(@strain.key), class:'strain-icon' %>
        </div>

        <div class="strain-title">
          <h3><%= @strain.name %></h3>
          <p>Category: <%= @strain.category %><br/>
            Rating: <%= @strain.rating %>/10</p>
        </div>
        <br/>
        <br/>    

        <table>
          <tbody>
            <tr>
              <td><strong>Description:   </strong></td>
              <td><%= @strain.description %></td>
            </tr>
            <tr>
              <td><strong>Overview:   </strong></td>
              <td> <%= @strain.overview %></td>
            </tr>
          </tbody>
        </table>

      <div class="strain-effects">
        <table>
          <tbody>
            <tr>
              <td><strong>Effects:   </strong></td>
              <td><% @strain.effects.each do |effect| %>
              <span style="margin-left:30px;"><strong><%= effect["Name"] %></strong>
              <%= effect["Score"]%></span></br>
            <% end %></td>
            </tr>
          </tbody>
        </table>


        <table>
          <tbody>
            <tr>
              <td><strong>Medical:   </strong></td>
              <td><% @strain.medical_uses.each do |medical_use| %>
              <span style="margin-left:25px;"><strong><%= medical_use["Name"] %></strong>
              <%= medical_use["Score"]%></span></br>
            <% end %></td>
            </tr>
          </tbody>
        </table>

        <table>
          <tbody>
            <tr>
              <td><strong>Side Effects:   </strong></td>
              <td><% @strain.side_effects.each do |side_effect| %>
              <span style="margin-left:10px;"><strong><%= side_effect["Name"] %></strong>
              <%= side_effect["Score"]%></span></br>
            <% end %></td>
            </tr>
          </tbody>
        </table>
      </div><br>
      </div>
      <div id="strain-stores" class="span4">
        <h4>Find <%= @strain.name %> here:</h4>
        <% @stores.each do |store| %>
          <p><%= link_to store.name, store_path(store.slug) %><br/>
          <%= store.address %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
