<header class="container" id="header-main">
  <span class="menu">
    <% if current_user %>
      <%= image_tag current_user.avatar %>
      <%= link_to current_user.name, user_profile_path %>
      <%= link_to "Sign out", '/signout', id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </span>
  <div class="row">
    <div class="span-4">
      <%= link_to image_tag('logo-leaf.jpg'), '/', id:'logo-image' %>
    </div>
    <div class="span-8" id="logo-banner">
      <h1 id="trademark"><%= link_to 'Mile High', '/' %></h1>
      <span class="tagline">
        Weed... It's green, sticky and <s>illegal</s> legal in Colorado!
      </span>
    </div>
  </div>
  <div class="row">
    <div class="span-4">
      <a href='#review'>Review A Store</a>
      <a href='#search'>Search</a>
    </div>
  </div>
</header>
