<!DOCTYPE html>
<html class="no-js" lang="en">



<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Mile High Marijuana Store and Dispensary Reviews">
  <meta name="viewport" content="width=device-width">

 <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js'></script>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css' rel='stylesheet' />
  <style>   #map {
    width:600px;
    height:400px;
  }</style>

  <title>Mile High</title>

  <%= stylesheet_link_tag    "bootstrap-2", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "style", media: "all" %>
  <%= stylesheet_link_tag    "reviews", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag    "search"%>
  <%= csrf_meta_tags %>
</head>



<body>
  <%= render "layouts/header" %>
  <div class="container">
    <div id="flash-section">
      <% flash.each do |name, msg| %>
        <% unless msg == true %>
          <%= content_tag :div, msg, :class => "alert alert-#{name}" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= yield %>

  <%= render 'layouts/footer' %>
</body>
</html>
