<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mile High Marijuana Store and Dispensary Reviews">

    <title>Welcome To Mile High!</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    "bootstrap-2", media: "all" %>
    <%= stylesheet_link_tag    "font-awesome", media: "all" %>
    <%= stylesheet_link_tag    "landing-page", media: "all" %>
    <%= stylesheet_link_tag    "splash-style", media: "all" %>
    <%= javascript_include_tag "application" %>

    <!-- Custom Google Web Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

  </head>



  <%= yield %>


</html>